<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net4" />
  <package id="Deflector" version="1.0.5431.15540" targetFramework="net4" />
  <package id="LinFu.Finders" version="1.0.1" targetFramework="net4" />
  <package id="Mono.Cecil" version="0.10.0" targetFramework="net40" />
</packages>